 <div class="pt-3">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column name-list" style="width: 300px; height: 100vh">
        <div class="name-list p-2">
          <div class="d-flex flex-row justify-content-between">
            <div class="p-2"><h3><%= @list.name %></h3></div>
            <div class="p-2">
              <div class="d-flex flex-row justify-content-between">
                <div class="p-2">
                  <% if policy(@list).edit? %>
                    <%# <%= link_to "Update", edit_list_path(@list) %>
                    <%= link_to edit_list_path do %>
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="30" height="30" viewBox="0 0 24 24" stroke-width="2.5" stroke="#92B4a7" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                      <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                      </svg>
                    <% end %>
                  <% end %>
                </div>
              <div class="add-list-icon p-2">
                <% if policy(Item).create? %>
                  <%= link_to new_list_item_path(@list), class: "lists-add-btn" do %>
                    <%= image_tag "plus.svg" %>
                  <% end %>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="p-2">
        <%= render '../views/items/itemcard', items: @list.items %>
      </div>
    </div>
  </div>
</div>
