 <div class="pt-3">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column name-list">
      <h3>Make an item</h3>
      <%= simple_form_for [@list, @item] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <div id='locations'>
          <%= f.simple_fields_for :locations do |location| %>
            <%= render 'items/location_fields', :f => location %>
          <% end %>
        </div>
        <%= f.submit 'Save' %>
      <% end %>
    </div>
  </div>
</div>
