<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid" style="border: 1px solid orange">
    <div style="border: 1px solid orange; background-color: #E3B23C">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>
              <div class="drop-down">
                  <li class="nav-item active"><%= link_to "View all items", items_path, class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to "View all lists", lists_path, class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to "Settings", edit_user_registration_path, class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
              </div>
              <li class="nav-item dropdown">
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "View all items", items_path, class: "dropdown-item" %>
                  <%= link_to "View all lists", edit_user_registration_path, class: "dropdown-item" %>
                  <%= link_to "Settings", edit_user_registration_path, method: :delete, class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</div>
