<%= simple_form_for(item) do |f| %>
  <%= f.input :name, label: "Name" %>
  <%= f.input :description %>
  <div style="color: #8D6A44; padding-bottom: 8px">List</div>
  <div style="border: 2px solid #8D6A44; padding: 8px 8px 8px 8px; margin-bottom: 8px; border-radius: 8px;">
    <% if current_user.lists.empty? %>
      <%= f.association :list, collection: current_user.lists, include_blank: "-- No list to choose from --", label: "Select a list or leave this blank" %>
    <% else %>
      <%= f.association :list, collection: current_user.lists,  label: "Select list", hint: "Leave blank if creating a new list" %>
    <% end %>
    <%= f.simple_fields_for :list do |p| %>
        <%= p.input :name, label: "Create a new list" %>
    <% end %>
  </div>
  <div id='locations'>
    <%= f.simple_fields_for :locations do |location| %>
      <%= render 'location_fields', :f => location %>
    <% end %>
  </div>
  <div class="d-flex justify-content-between">
    <%= f.submit 'Save', class: "lrg-pink-btn", style: "width: 50%; text-align: center;"  %>
    <%= link_to "Cancel", :back, class: "sml-pink-btn ms-2", style: "width: 50%; text-align: center;"   %>
  </div>
<% end %>
