<%= simple_form_for(item) do |f| %>
  <% if current_user.lists.empty? %>
    <%= f.association :list, collection: current_user.lists, include_blank: "-- No list to choose from --", label: "Select a list or leave this blank" %>
  <% else %>
    <%= f.association :list, collection: current_user.lists,  label: "Select a list or leave this blank" %>
  <% end %>
    <%= f.simple_fields_for :list do |p| %>
        <%= p.input :name, label: "Or create a new list here" %>
      <% end %>
    <%= f.input :name, label: "Item name" %>
    <%= f.input :description %>

    <div id='locations'>
      <%= f.simple_fields_for :locations do |location| %>
        <%= render 'location_fields', :f => location %>
      <% end %>
    </div>
    <%= f.submit 'Save' %>
<% end %>
