<% items.each do |item| %>
  <div class="list-card my-3 px-3 py-3">
    <div class="links-card">
      <strong>Item: </strong><%= link_to item.name.capitalize, item_path(item) %><br>
      <% if !item.description.empty? %>
          <strong>Description: </strong><%= item.description %>
      <% end %>
      <%= link_to edit_item_path(item) do %><i class="fas fa-pencil-alt"></i>
      <% end %><br>
      <%= render "../views/items/checkbox", item: item %> <%= "Mark as completed" %>
    </div>
  </div>
<% end %>
