<% items.each do |item| %>
  <div class="list-card my-3 px-3 py-3 d-flex flex-row">
    <div class="p-2 links-card">
        <strong>Item: </strong><%= link_to item.name.capitalize, item_path(item) %><br>
        <% if !item.description.empty? %>
            <strong>Description: </strong><%= item.description %>
        <% end %><br>
        <%= render "../views/items/checkbox", item: item %> <%= "Mark as completed" %>
    </div>
    <div class="p-2 align-self-center">
      <%= link_to edit_item_path(item) do %><i class="fas fa-pencil-alt"></i>
      <% end %><br>
    </div>
  </div>
<% end %>
