<!DOCTYPE html>
<html>
  <head>
    <title>ShopPING</title>
    <link rel="manifest" href="/manifest.json" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
<% if !user_signed_in?%>
  <body style="background-color: #92B4A7">
  <% else %>
   <body>
   <% end %>
   <div>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
   </div>
  </body>

      <script>


      window.vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(ENV['VAPID_PUBLIC_KEY']).bytes %>);
      if (navigator.serviceWorker) {
      navigator.serviceWorker.register('/service_worker.js')
        .then(function (reg) {
          navigator.serviceWorker.ready.then((serviceWorkerRegistration) => {
            serviceWorkerRegistration.pushManager
              .subscribe({
                userVisibleOnly: true,
                applicationServerKey: window.vapidPublicKey
              }).then(async function(subscription) {
                console.log(subscription)
                  const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                  const url = "/push"
                  const data = await fetch(url, {
                    method: 'POST',
                    headers: {
                      'Accept': 'application/json',
                      'Content-Type': 'application/json',
                      'X-CSRF-Token': csrfToken
                    },
                    body: JSON.stringify(subscription),
                  }).then(r => r.json());
                  console.log(data);
                // post("/push", { subscription: subscription.toJSON(), message: "You clicked a button!" });
              });
          });
        });
    }
    // Otherwise, no push notifications :(
    else {
      console.error('Service worker is not supported in this browser');
    }
      </script>
</html>
