<!DOCTYPE html>
<html>
  <head>
    <title>ShopPING</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Not your ordinary shopping list.">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="shopPING" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://start-shopping.herokuapp.com/" />
    <meta property="og:image" content="https://cdn-icons-png.flaticon.com/512/2331/2331966.png" />
    <meta property="og:description" content="Not your ordinary shopping list." />
    <meta property="og:site_name" content="shopPING" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="shopPING">
    <meta name="twitter:description" content="Not your ordinary shopping list.">
    <meta name="twitter:image:src" content="https://cdn-icons-png.flaticon.com/512/2331/2331966.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js" integrity="sha512-CWKGqmXoxo+9RjazbVIaiFcD+bYEIcUbBHwEzPlT0FilQq3TCUac+/uxZ5KDmvYiXJvp32O8rcgchkYw6J6zOA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
<% if !user_signed_in?%>
  <body style="background-color: #92B4A7">
  <% else %>
   <body>
   <% end %>
   <div>
   <div id="confetti_svg" style="position:fixed; z-index: 1000; height:100vh; width:100vw; pointer-events: none;"></div>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="pt-5">
    <%= yield %>
    </div>
   </div>
  </body>
</html>
